EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndvdGViZmR1d2FjbXFhcGh2aG51Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTEyMjc1MzEsImV4cCI6MjA2NjgwMzUzMX0.mWuqwJjejhVpzRplvP1qTCUowa72E1-ZNAnwj6iCn_c
EXPO_PUBLIC_SUPABASE_URL=https://wotebfduwacmqaphvhnu.supabase.co