google-cloud-pubsub==2.22.0
google-api-python-client==2.128.0
psycopg[binary]==3.2.1
PyJWT==2.8.0
google-auth==2.27.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
functions-framework==3.5.0
flask==3.0.0